# list of hosts to send WoL packets to, along with their shutdown commands and credentials for SSH (if needed)
- id: server-proxmox
  name: "Proxmox Node 1"
  mac: "AA:BB:CC:DD:EE:FF"
  ip: "192.168.1.101"
  user: "switchbot"
  password: "your_password" #leave empty if not using password-based auth
  key_path: "/root/.ssh/id_rsa" #leave empty if not using key-based auth
  cmd: "sudo -n /usr/sbin/poweroff"
  skip_interfaces: ["Tailscale", "vEthernet", "Loopback", "Bluetooth"] #case sensitive, relative the interfaces of the WOL server, not the receiver  host


#example config for a windows host
- id: pc-gaming
  name: "PC Gaming"
  mac: "AA:BB:CC:DD:EE:FF"
  ip: "192.168.1.100"
  user: "your_user"
  password: "your_password" #leave empty if not using password-based auth
  key_path: "C:\Users\your_user\.ssh" #leave empty if not using key-based auth
  cmd: "shutdown /s /t 0"
  skip_interfaces: ["docker", "veth", "br-"] #case sensitive, relative the interfaces of the WOL server, not the receiver  host
